---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include_relative /includes/header.html %}
        <link rel="stylesheet" href="/style/main_page.css">
        <title>Matteo Dell'Acqua</title>
    </head>
    <body>
        {% include_relative /includes/navbar.html %}
        <div class="main-page-photo">
            <img src="/resources/homePage/homePagePhoto.png" alt="Matteo's Photo" style="width: 100%;">
            <h1 class="main-page-name">
                MATTEO DELL'ACQUA
            </h1>
        </div>
    </body>
</html>