/***********************

Shared navigation bar

***********************/

.nav-bar ul {
    list-style-type: none;
    text-align: center;
}

.nav-bar ul li {
    display: inline-block;
    padding: 6px 6px;
}

.nav-bar ul li.active {
}

.nav-bar ul li a {
    text-decoration: none;
    color: inherit;
}

.nav-bar ul li.logo {
    float: left;
}

.nav-bar ul li.logo.active {
}

.localeSelector {
    float: right;
}

.nav-bar .localeSelector .dropdown-locale {
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.nav-bar .localeSelector .dropdown-locale-content {
    display: none;
    position: relative;
    z-index: 2;
}

.nav-bar .localeSelector .dropdown-locale-content a {
    display: block;
    cursor: pointer;
}

.nav-bar .localeSelector .dropdown-locale-content a.active {
}

.nav-bar .localeSelector .dropdown-locale-content.show {
    display: block;
}

.shadow {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.shadow.show {
    display: inline;
}